form {
    padding: 40px 0;
    grid-template-columns: 1fr 9fr;
    font-size: 15px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px black;
}

.hidden {
    display: none;
}

main {
    grid-column: 1/4;
}